footer {
  font-family: Poppins;
  height: 30%;
  background-color: #985b42;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 36px;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 300;
}

footer a:hover {
  color: black;
}

footer button {
  border: 1px solid white;
  border-radius: 12px;
  padding: 8px 16px;
  background-color: transparent;
  color: white;
  transform: translate(0px, 5px);
  transition: 0.3s;
}

footer button:hover {
  padding: 10px 24px;
}

footer input {
  background-color: transparent;
  border: none;
}

footer input::placeholder {
  color: white;
}

footer hr {
  margin-top: 16px;
}

.socials {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}
