footer {
  font-family: Poppins;
  height: 30%;
  background-color: #985b42;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 36px;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 300;
}

<<<<<<< HEAD
footer button {
  border: 1px solid white;
  border-radius: 12px;
  padding: 5px 16px;
  background-color: transparent;
  color: white;
}

footer input {
  background-color: transparent;
  border: none;
}

footer input::placeholder {
  color: white;
=======
.socials {
  margin: 30px;
  display: flex;
  justify-content: space-around;
>>>>>>> main
}
