@font-face {
    font-family: ;
    src: url();
}
.container-fluid{
    padding: 0 !important;
    background-color: #FFFFFF;
}

.products-on-demand > h3 {
    color: #000;
    font-family: Noto Serif;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.products-on-demand > p {
    color: #000;
    font-family: Noto Serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-scroll {
    height: 43.5625rem;
    background: #D0B0A3;
    /* position: relative; */
}

.product-scroll img {
    border-radius: 1.875rem;
    width: 32.5rem;
    height: 33.375rem;
}

.scroll-text {
    position: absolute;
    bottom: 0;
    right: 0;
    /* width: 30.375rem;
    height: 3.5rem; */
    /* background: rgba(255, 255, 255, 0.70);
    color: #000;
    font-family: Poppins;
    font-size: 2.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase; */
}