body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}

.container-fluid {
  padding: 0 !important;
  background-color: #ffffff;
}

/* .home-banner {
  height: 600px; 
  width: 100%;
} */
/* .products-on-demand {
  height: 20rem;
  text-align: center;
} */
.products-on-demand > h3 {
  color: #000;
  font-family: Noto Serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.products-on-demand > p {
  color: #000;
  font-family: Noto Serif;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slider {
  height: 43.5625rem;
  background: #d0b0a3;
  padding: 3rem;
}

.slider img {
  border-radius: 1.875rem;
  width: 32.5rem;
  height: 33.375rem;
  padding-right: 1rem;
}

.scroll-text {
  position: absolute;
  text-decoration: none;
  bottom: 3.81rem;
  right: 1rem;
  width: 30.375rem;
  height: 3.5rem;
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  font-family: Poppins;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: none;
}

&.animation-reveal {
  animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1);
}

/* Flickity settings  */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transform: translate(0%, 8%);
  vertical-align: middle;
}

.flickity-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
}

.leading-text {
  text-transform: uppercase;
}

.leading-text a {
  text-decoration: none;
  width: 21rem;
  height: 7rem;
  border: 1px solid #000;
  color: #000;
  font-family: Poppins;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 1em;
}

.leading-text h3 {
  color: #000;
  font-family: Noto Serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1.8rem;
}

.col-md-6 {
  margin: 0 !important;
  padding: 0 !important;
}
