/* styles.css */
/* No need to change the CSS, as we are not animating the color change */
.heart-icon {
    font-size: 40px;
    cursor: pointer;
    background-color: white;
}

.heart-icon:hover {
    color: red;
}