<!DOCTYPE html>
<html>
<head>
    <title>Signup Page</title>
    <style>
        /* Style for the eye icon */
        .eye-icon {
            cursor: pointer;
            display: inline-block;
            width: 20px;
            height: 20px;
            position: relative;
        }

        .eye-icon svg {
            width: 100%;
            height: 100%;
            fill: #333;
        }

        .eye-icon.closed-eye svg {
            display: none;
        }

        .eye-icon.open-eye svg {
            display: block;
        }
    </style>
</head>
<body>
    <h2>Sign Up</h2>
    <form id="signupForm">
        <label for="username">Username:</label>
        <input type="text" id="username" required><br>
        
        <label for="password">Password:</label>
        <span class="eye-icon" onclick="togglePasswordVisibility('password')">
            <svg class="closed-eye" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M21.5 12c0 1.56-.89 2.92-2.19 3.64l1.5 2.6C22.56 17.57 24 14.92 24 12c0-5.16-4.16-9.32-9.32-9.32-2.92 0-5.57 1.44-7.18 3.64l1.5 2.6C8.58 5.08 10.44 4 12.68 4 17.33 4 21.5 8.16 21.5 12z"/>
                <circle cx="12" cy="12" r="2.5"/>
            </svg>
            <svg class="open-eye" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12 16c-3.32 0-6-2.69-6-6s2.68-6 6-6 6 2.69 6 6-2.68 6-6 6zm-2.9-5.51c.14-.15.32-.24.51-.24s.36.09.51.24c.27.27.28.71.01.98-.01.01-.01.01-.02.02-.27.27-.71.28-.98.01l-.01-.01c-.37-.37-.37-.98 0-1.35zM12 14.01c.43 0 .84-.16 1.16-.45.34-.31.54-.73.58-1.16 0-.01 0-.02.01-.03.07-.49-.29-.97-.78-1.04-.01 0-.02 0-.03-.01-.43-.04-.85-.24-1.16-.58-.3-.33-.46-.73-.45-1.16 0-.38.15-.75.42-1.02.26-.26.63-.41 1.02-.42.01 0 .02 0 .03-.01.49-.07.98.28 1.05.77.03.43.23.85.58 1.16.31.29.73.45 1.16.45s.85-.16 1.16-.45c.34-.31.54-.73.58-1.16 0-.01 0-.02.01-.03.07-.49-.29-.97-.78-1.04-.01 0-.02 0-.03-.01-.43-.04-.85-.24-1.16-.58-.3-.33-.46-.73-.45-1.16 0-.38.15-.75.42-1.02.26-.26.63-.41 1.02-.42.01 0 .02 0 .03-.01.49-.07.98.28 1.05.77.03.43.23.85.58 1.16.31.29.73.45 1.16.45s.85-.16 1.16-.45c.34-.31.54-.73.58-1.16 0-.01 0-.02.01-.03.07-.49-.29-.97-.78-1.04-.01 0-.02 0-.03-.01-.43-.04-.85-.24-1.16-.58-.3-.33-.46-.73-.45-1.16 0-.43.16-.85.45-1.16.31-.31.73-.48 1.16-.45 0 0 0 0 .01-.01.49.07.98-.28 1.05-.77.03-.43.23-.85.58-1.16.31-.29.73-.45 1.16-.45s.85.16 1.16.45c.35.31.55.73.58 1.17 0 0 0 .01.01.02.07.49-.29.97-.78 1.04-.01 0-.02 0-.03.01-.43.04-.85.24-1.16.58-.3.33-.46.73-.45 1.16 0 .01 0 .02-.01.03.01.43-.16.85-.45 1.16-.31.31-.73.48-1.16.45-.01 0-.02 0-.03.01-.49-.07-.98.28-1.05.77-.03.43-.23.85-.58 1.16-.31.29-.73.45-1.16.45s-.85-.16-1.16-.45c-.34-.31-.54-.73-.58-1.16 0-.01 0-.02-.01-.03-.07-.49.29-.97.78-1.04.01 0 .02 0 .03-.01.43-.04.85-.24 1.16-.58.3-.33.46-.73.45-1.16 0-.43-.16-.85-.45-1.16-.31-.31-.73-.48-1.16-.45-.01 0-.02 0-.03-.01-.49.07-.98-.28-1.05-.77-.03-.43-.23-.85-.58-1.16-.3-.32-.73-.48-1.16-.45-.01 0-.02 0-.03-.01-.48.
