<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gleam Jewelry</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <!-- Bootstrap CSS & JS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="js/index.js"></script>
    <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700;800&family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- css -->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/empty.css" />
    <link rel="stylesheet" href="css/footer.css" />

    <!--Script for Font awesome icons-->

    <!-- importing header and footer templates -->
    <!-- <script>
      $(function () {
        $('#header').load('templates/header.html');
        $('#footer').load('templates/footer.html');
      });
    </script> -->
  </head>
  <body>
    <!-- <div id="header"></div> -->
    <%- include('./partials/_header') %>
    <div class="terms">
      <h3>Frequently Asked Questions</h3>
      <p>
        Effective Date: January 1, 2020 Last Updated: March 30, 2023 Welcome to
        Glem Jewelry. “Glem", "we", "us", or "our"). We are committed to
        respecting your privacy and protecting your personal information. This
        Privacy Policy describes how we collect, use, store, and disclose your
        personal information when you visit or use our website, services,
        applications (collectively, the "Services"). By using our Services, you
        agree to the collection and use of your personal information as outlined
        in this Privacy Policy. If you do not agree with this Privacy Policy,
        please do not use our Services. What Does This Privacy Policy Cover?
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur. Sed facilisis in pretium nulla.
        Enim sit mi imperdiet dignissim tellus donec elementum. Arcu dignissi m
        scelerisque diam pretium mattis est rutrum neque. Donec varius semper
        parturient posuere. Malesuada nunc senectus diam bibendum eget magna
        molestie arcu. Tristique sapien eu et habitant nec non vitae dapibus eu.
        Consequat aliquet in tellus massa. Pharetra donec vestibulum urna tortor
        a ac porttitor elementum. Eget suspendisse eget aliquet augue accumsan
        sed habitasse aliquam vitae. In euismod enim odio vel amet nisi fames.
        Magna lacus nec laoreet placerat neque enim.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur. Sed facilisis in pretium nulla.
        Enim sit mi imperdiet dignissim tellus donec elementum. Arcu dignissi m
        scelerisque diam pretium mattis est rutrum neque. Donec varius semper
        parturient posuere. Malesuada nunc senectus diam bibendum eget magna
        molestie arcu. Tristique sapien eu et habitant nec non vitae dapibus eu.
        Consequat aliquet in tellus massa. Pharetra donec vestibulum urna tortor
        a ac porttitor elementum. Eget suspendisse eget aliquet augue accumsan
        sed habitasse aliquam vitae. In euismod enim odio vel amet nisi fames.
        Magna lacus nec laoreet placerat neque enim.
      </p>
    </div>

    <!-- <main class="empty">
      <div>
        <h2>
          This is an empty page just to show that the footer links are clickable
          and redirect.
        </h2>
      </div>
    </main> -->

    <!-- <div id="footer"></div> -->
    <%- include('./partials/_footer') %>
  </body>
</html>
