<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gleam Jewelry</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

    <!-- Bootstrap CSS & JS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700;800&family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Poller+One&display=swap"
      rel="stylesheet"
    />

    <!-- css -->
    <link rel="stylesheet" href="../frontend/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
      integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!--Script for Font awesome icons-->

    <!-- importing header and footer templates -->
    <!-- <script>
      $(function () {
        $('#header').load('templates/header.html');
        $('#footer').load('templates/footer.html');
      });
    </script> -->
  </head>
  <!-- <body>
    <div id="header"></div> -->
    <header>
      <%- include('./partials/_header') %>
    </header>
    <!--Beginning of main/body-->

    <div>
      <img
        class="img-fluid home-banner col-md-12"
        src="./images/homepage/homebanner.png"
        alt="image of lady with multiple jewelry"
      />

      <div class="image-caption centered">
        <h1 class="text-nowrap">HOME OF REAL GOLD</h1>
      </div>
      <div class="centered-shop">
        <button class="shop-now"><a href="/empty_page">SHOP NOW</a></button>
      </div>
    </div>

    <div class="products-on-demand m-5 p-1 align-items-center text-center">
      <h3>Accessories on demand</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur. Neque viverra leo ultrices
        egestas dictum ultrices.
      </p>
    </div>

    <!-- Beggining of carousel -->
    <!-- <div class="gallery">
      <div class="gallery_item">
        <div class="gallery_image img-fluid">
          <img class="gallery_image" src="images/homepage/necklace.png" alt="necklace Image" />
          <a href="necklaces.html" class="scroll-text">necklace</a>
        </div>
        <div class="gallery_image img-fluid">
          <img src="images/homepage/rings.png" alt="rings Image" />
          <a href="ring.html" class="scroll-text">rings</a>
        </div>
        <div class="gallery_image img-fluid">
          <img src="images/homepage/bracelet.png" alt="bracelet Image" />
          <a href="bracelet.html" class="scroll-text">bracelet</a>
        </div>
        <div class="gallery_image img-fluid">
          <img src="images/homepage/earrings.png" alt="earrings Image" />
          <a href="earring.html" class="scroll-text">earrings</a>
        </div>
      </div>
    </div> -->

    <div
      class="carousel-slider owl-carousel owl-theme"
      style="height: 40.5625rem; background: #d0b0a3; padding: 3rem"
    >
      <div class="item img-fluid">
        <img src="images/homepage/necklace.png" alt="necklace Image" />
        <a href="/necklaces" class="scroll-text">necklace</a>
      </div>
      <div class="item img-fluid">
        <img src="images/homepage/rings.png" alt="rings Image" />
        <a href="/ring" class="scroll-text">rings</a>
      </div>
      <div class="item img-fluid">
        <img src="images/homepage/bracelet.png" alt="bracelet Image" />
        <a href="/bracelet" class="scroll-text">bracelet</a>
      </div>
      <div class="item img-fluid">
        <img src="images/homepage/earrings.png" alt="earrings Image" />
        <a href="/earring" class="scroll-text">earrings</a>
      </div>
    </div>

    <!-- end of carousel -->

    <div class="row text-center align-items-center">
      <div class="leading-text col-md-6">
        <h3>engagement rings</h3>
        <a href="#">shop now</a>
      </div>
      <img
        class="leading-img img-fluid col-md-6"
        src="images/homepage/Engagement_ring.png"
        alt="engagement ring image"
      />
    </div>

    <div class="row text-center align-items-center">
      <img
        class="leading-img img-fluid col-md-6"
        src="images/homepage/Engrave image.png"
        alt="engraved neck jewelry image"
      />
      <div class="leading-text col-md-6">
        <h3>engrave your jewelry</h3>
        <a href="#">shop now</a>
      </div>
    </div>
    <div class="row text-center align-items-center">
      <div class="leading-text col-md-6">
        <h3>customize your jewelry</h3>
        <a href="#">shop now</a>
      </div>
      <img
        class="leading-img img-fluid col-md-6"
        src="images/homepage/rings2.png"
        alt="engagement ring image"
      />
    </div>

    <!--end of main/body-->
    <!-- <div id="footer"></div> -->
    <%- include('./partials/_footer') %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 15,
        nav: true,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 2,
          },
          1000: {
            items: 3,
          },
        },
      });
    </script>
  </body>
</html>
