/* Styles for header for product categories */
header {
  width: 100%;
  height: auto;
  background-color: #fff;
  transition: background-color 0.3s ease;
  position: sticky;
  top: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.header2-logo {
  text-decoration: none;
  margin-top: 2rem;
}

.header2-logo h2 {
  font-family: "Aclonica", sans-serif;
  letter-spacing: 3px;
  color: black;
  font-family: "Aclonica";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.5px;
}

.header2-logo h2 span {
  color: #d15902;
  font-family: "Aclonica";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.5px;
}

.navigation {
  border-bottom: 2px solid #000;
}

.navigation a {
  text-transform: uppercase;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navigation a:active {
  color: #d15902;
}

.navigation a:hover {
  color: #d15902;
}

.extra {
  border-bottom: 1px solid white;
}

/* Profile dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  /* width: 100%; */
  width: 10rem;
  border-radius: 0.875rem;
  background: #fff;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  /* color: #FFFFFF; */
  text-decoration: underline;
  color: #985b42;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.item-count {
  position: absolute;
  top: -5px;
  right: 40px;
  padding: 2px 6px;
  z-index: 1;
  font-size: 0.85rem;
  color: white;
  background-color: red;
  border-radius: 50%;
}
