body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* height: 100vh; */
}

.container-fluid {
  padding: 0 !important;
  background-color: #ffffff;
}

/* .home-banner {
  height: 600px; 
  width: 100%;
} */
/* .products-on-demand {
  height: 20rem;
  text-align: center;
} */
.products-on-demand > h3 {
  color: #000;
  color: #000;
  font-family: Lora;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.products-on-demand > p {
  color: #616161;
  text-align: center;
  font-family: Lora;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.scroll-text {
  position: absolute;
  text-decoration: none;
  bottom: 3.81rem;
  right: 0rem;
  /* width: 30.375rem; */
  width: 23rem;
  height: 3.5rem;
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  font-family: Poppins;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}


.leading-text {
  text-transform: uppercase;
}

.leading-text a {
  text-decoration: none;
  width: 21rem;
  height: 7rem;
  border: 1px solid #000;
  color: #000;
  font-family: Poppins;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 1em;
}

.leading-text a:hover {
  color: #d15902;
}

.leading-text h3 {
  color: #000;
  font-family: Noto Serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1.8rem;
}

.col-md-6 {
  margin: 0 !important;
  padding: 0 !important;
}

.image-caption h1 {
  color: #fff;
  text-shadow: 0px 8px 17px 0px #985b42;
  font-family: 'Poller One', cursive;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-shop {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shop-now {
  text-align: center;
  width: 20rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 0.875rem;
  background: #985b42;
  font-family: 'Lora', serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.shop-now a {
  text-decoration: none;
  color: #fff;
}

.shop-now:hover {
  background: #be8169;
}

.image-caption h1 {
  color: #fff;
  text-shadow: 0px 8px 17px 0px #985b42;
  font-family: 'Poller One', cursive;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-shop {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shop-now {
  text-align: center;
  width: 20rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 0.875rem;
  background: #985b42;
  font-family: 'Lora', serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.shop-now a {
  text-decoration: none;
  color: #fff;
}

.shop-now:hover {
  background: #be8169;
}

/* .gallery {
  display: flex;
  align-items: center;
  column-gap: 20px;
  background: #be8169;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

}

.gallery_item {
  scroll-snap-align: center;
  min-width: 75%;
}

.gallery_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */



