<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gleam Jewelry</title>

    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700;800&family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./css/footer.css" />

    <!-- iconify -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </head>
  <body>
    <footer>
      <div>
        <h3>Our Services</h3>
        <a href="empty_page.html"><p>Necklaces</p></a>
        <a href="empty_page.html"><p>Rings</p></a>
        <a href="empty_page.html"><p>Bracelets</p></a>
        <a href="empty_page.html"><p>Customized Jewelry</p></a>
        <a href="empty_page.html"><p>Earrings</p></a>
        <a href="empty_page.html"><p>Ocassion Jewelry</p></a>
      </div>
      <div>
        <h3>Contact US</h3>
        <p>+1 234-567-8910</p>
        <a href="empty_page.html"><p>Gleamjewelry@yahoo.com</p></a>
        <a href="empty_page.html"><p>FAQs</p></a>
        <a href="empty_page.html"><p>Policies</p></a>
      </div>
      <div>
        <h3>Subscribe to our Newsletter</h3>
        <div>
          <input type="text" placeholder="Enter your email" />
          <button>Subscribe</button>
        </div>
        <hr />
        <div class="socials">
          <a href="empty_page.html"
            ><iconify-icon
              icon="skill-icons:instagram"
              style="color: black"
              width="24"
              height="24"
            ></iconify-icon
          ></a>
          <a href="empty_page.html"
            ><iconify-icon
              icon="logos:facebook"
              style="color: black"
              width="24"
              height="24"
            ></iconify-icon
          ></a>
          <a href="empty_page.html"
            ><iconify-icon
              icon="logos:tiktok-icon"
              style="color: black"
              width="24"
              height="24"
            ></iconify-icon
          ></a>
          <a href="empty_page.html"
            ><iconify-icon
              icon="devicon:twitter"
              style="color: black"
              width="24"
              height="24"
            ></iconify-icon
          ></a>
          <a href="empty_page.html"
            ><iconify-icon
              icon="tabler:brand-threads"
              style="color: black"
              width="24"
              height="24"
            ></iconify-icon
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
